<p id="notice"><%= notice %></p>

<p>
  <b>Descrizione:</b>
  <%= @tipo_evento.descrizione %>
</p>


<%= link_to 'Edit', edit_tipo_evento_path(@tipo_evento) %> |
<%= link_to 'Back', tipi_evento_path %>
