<p id="notice"><%= notice %></p>

<p>
  <b>Descrizione:</b>
  <%= @tipo_documento.descrizione %>
</p>


<%= link_to 'Edit', edit_tipo_documento_path(@tipo_documento) %> |
<%= link_to 'Back', tipi_documento_path %>
