<p id="notice"><%= notice %></p>

<p>
  <b>Descrizione:</b>
  <%= @tipo_contributo.descrizione %>
</p>


<%= link_to 'Edit', edit_tipo_contributo_path(@tipo_contributo) %> |
<%= link_to 'Back', tipi_contributo_path %>
