<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @stato_contributo.nome %>
</p>


<%= link_to 'Edit', edit_stato_contributo_path(@stato_contributo) %> |
<%= link_to 'Back', stati_contributo_path %>
